/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body {
  background:#042323;
  font-family: 'Hi Melody', cursive;
  font-size: 20px;
  letter-spacing: 0.1em;
  }

img {
  padding: 30px 30px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  }
  
img:hover {
  border-radius:8px;
  }
  
.container {
  margin: 0 auto;
  width: 80%;
  margin-top:5px;
  margin-bottom:5px;
  }
  
.main-box {
  background: #040e0b;
  color: #e9e3db;
  height: 80%;
  overflow: auto;
  margin: 20%;
  margin-top: 2%;
  margin-bottom: 8%;
  padding: 3%;
  padding-top: 1%;
  border-radius: 5px;
  border: 2px solid #438463;
  }
  
.side-box {
  background: #040e0b;
  padding:12px;
  padding-top:10px;
  padding-bottom:10px;
  border: 2px solid #438463;
  border-radius: 5px;
  margin-top:225px;
  max-height:200px;
  overflow:auto;
  width:135px;
  position:fixed;
  text-align:center;
  }
  
a:link {
  color: #438463;
  text-decoration: none;
  }
  
a:hover {
  text-decoration: underline;
  }
  
a:visited {
  color: #438463;
  text-decoration: none;
  }
  
h1 {
  text-align: center;
  padding: 0%;
  font-size: 30px;
  color: #438463;
  }
  
.hh {
  font-weight: bold;
  text-align: center;
  padding: 1%;
  margin: 1%;
  margin-top: 1.5%;
  font-size: 50px;
  color: #438463;
  }
  
div.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 45%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
  
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
  
  
  
  
  