/*https://coolors.co/palette/f8ffe5-06d6a0-1b9aaa-ef476f-ffc43d*/



/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ef476f;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f8ffe5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: #f8ffe5;
  background: #8b2d43;
}


/* Main content */
.main {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}


.current {
  color: #ffc43d;
}


body {
  background:#f8ffe5;
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: 0.1em;
}


img {
  padding: 30px 30px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  }
  
img:hover {
  border-radius:8px;
  }

.container {
  margin: 0 auto;
  width: 80%;
  margin-top:5px;
  margin-bottom:5px;
  }

h1 {
  text-align: center;
  padding: 0%;
  font-size: 30px;
  color: #ffc43d;
  }